*´{
	margin: 0px;
	padding: 0px;
}

body{
  background: #BCCBD4;
  margin: 15px;

}
h4{
   color: white;
     
     margin-bottom: 1px;
  margin-top: 70px;
  
   
  
}


h1{
  color: white;
  border-right: 
}

#btn-principal{
    background-color: #d9edf7;
    border-color: #bce8f1; 
    color:#1548BD; 
}

#btn-secundario{
     color:#5bc0de;
} 

#cabecera-principal-estudiante{

}



.header {
  background: #1f5a92;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  margin-bottom: 1px;
  margin-top: 2px;
  position: relative;
  width: 100%;
}


.headerlogo {
  
   border-radius: 2px;
  width: 125px;
  margin: 10px;
  
  height: 80px;
  
}


.header__titles {
  color: white;
  text-align: center;
  flex: 1 1 auto;
  letter-spacing: 1px;
}

.panel-title{
  text-align: center;
}

.section{
  width: 500px; 
  height: auto;
  padding: 0px;
  display: block;
  margin: 10px auto 0 auto;
  
  background: #f9f9f9;
  
  border: 0px solid #d5d5d5;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  box-shadow:  0px 0px 2px #dadada, inset 0px -3px 0px #e6e6e6;
}



}

{
  padding-top: 0px;
  max-height: 0px;
  margin: 0px;
  margin-bottom: 0px;
}

h2{
  text-align: center;
}

footer{
  text-align: center;
  padding: 8px;

}

.footer{
   

   border-radius: 2px;
  width:  5%;
}

@media screen and (max-width: 475px) {
  .header {
    flex-wrap: wrap;
  }
  .header__logo {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 0 0 10px 0;
  }
  .header__logo {
    width: 100%;
    margin-top: 0;
    border-radius: 0;
  }

  body{
    margin: 0px;
  }


@media (max-width: 475px) {
  
  .section {
    width: 280px; 
    margin-top: 35px;
  }

  body{
    margin: 0px;
  }
  
   input {
    width: 160px;
    width: 204px;
    padding-left: 6px;
  }
  
  
  .footer{
   

   border-radius: 2px;
  width:  10%;
}

.index{
  width: 20px; 
    margin-top: 204px;
    padding-left: 0px;



}
.button{
  width: 16px;
    width: 20px;
    margin-left:  0px;
    padding-left: 0px;


}
  
}


ul{
width: 100%;
background: black;
list-style: none;
margin: 50px;
padding: 50px;


}

li{
display: inline-block;
}

a{
  padding: 10px 20px;
  display: inline-block;
  color: #fff;

}

.caja{
  width: 50%;
height:  50%;
background: black;
margin: 20;
padding: ; #margen interno
border: solid; 
display: 
}
